<div class="register">
    <div class="side-image"></div>      

    <form class="mb-5" (ngSubmit)="submitRegister()" style="width: 30%;">
        <h1 class="mt-5 mb-5">Register</h1>

        <!-- Alert messages -->
        <p *ngIf="errorMsg && !successMsg" class="alert alert-danger mb-0" role="alert">
            {{ errorMsg }}
        </p>
        <!-- End alert messages -->

        <div class="form-group mt-3">
            <label for="first-name">First Name</label>
            <input name="first-name" id="first-name"  type="text" placeholder="First Name" required
                pattern="^[a-zA-Z]*"
                #firstName="ngModel"
                [(ngModel)]="user.first_name"
                [ngClass]="
                    (firstName.errors && firstName.touched) || badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                "
            >

            <div *ngIf="firstName.errors?.['required']" class="invalid-feedback">
                Please enter your first name.
            </div>
            <div *ngIf="firstName.errors?.['pattern']" class="invalid-feedback">
                Invalid characters found in first name.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="last-name">Last Name</label>
            <input name="last-name" id="last-name" type="text"  placeholder="Last Name" required
            pattern="^[a-zA-Z].*"
                #lastName="ngModel"
                [(ngModel)]="user.last_name"
                [ngClass]="
                    (lastName.errors && lastName.touched) || badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                "
            >
                
            <div *ngIf="lastName.errors?.['required']" class="invalid-feedback">
                Please enter your last name.
            </div>
            <div *ngIf="lastName.errors?.['pattern']" class="invalid-feedback">
                Invalid characters found in last name.
            </div>
        </div>


        <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input
                name="email" id="email" type="email" placeholder="Email Address" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                #email="ngModel"
                [(ngModel)]="user.email"
                [ngClass]="
                    (email.errors && email.touched) || badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                "
            >
                
            <div *ngIf="email.errors?.['required']" class="invalid-feedback">
                Please enter your email address.
            </div>
            <div *ngIf="email.errors?.['pattern']" class="invalid-feedback">
                Please provide a valid email address.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="address">Address</label>
            <input name="address" id="address" type="text" placeholder="Address" required
                pattern="^[a-zA-Z1-9].*"
                #address="ngModel"
                [(ngModel)]="user.address"
                [ngClass]="
                    (address.errors && address.touched) || badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                "
            >

            <div *ngIf="address.errors?.['required']" class="invalid-feedback">
                Please enter your address.
            </div>
            <div *ngIf="address.errors?.['pattern']" class="invalid-feedback">
                Leading blank spaces found in address.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="contact-number">Contact Number</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">+65</span>
                </div>
                <input name="contact-number" id="contact-number" type="text" placeholder="Contact Number" maxlength="8" required
                    pattern="[689][0-9]{7}"
                    #contactNumber="ngModel"
                    [(ngModel)]="user.contact_number"
                    [ngClass]="
                        (contactNumber.errors && contactNumber.touched) || badRegisterAttempted ?
                        'form-control is-invalid' : 'form-control'
                    "
                >

                <div *ngIf="contactNumber.errors?.['required']" class="invalid-feedback">
                    Please enter your contact number.
                </div>
                <div *ngIf="contactNumber.errors?.['pattern']" class="invalid-feedback">
                    Please provide a valid contact number.
                </div>
            </div>

        </div>

        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" placeholder="Password" required
                pattern="^[a-zA-Z1-9].*"
                #password="ngModel"
                [(ngModel)]="user.password"  
                [ngClass]="
                    (password.errors && password.touched) || badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                "
            >

            <div *ngIf="password.errors?.['required']" class="invalid-feedback">
                Please enter a password.
            </div>
            <div *ngIf="password.errors?.['pattern']" class="invalid-feedback">
                Leading blank spaces found in password.
            </div>
        </div>
        
        <div class="form-group mt-3">
            <label for="dob">Date of Birth</label>
            <input name="dob" id="dob" type="date" [max]="max" [min]="min" (focusout)="enforceBoundsAndCheckForError()" required
                #dob="ngModel"
                [(ngModel)]="user.dob"
                [ngClass]="
                    ((dob.errors || userUnder18) && dob.touched) || badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">

            <div *ngIf="dob.errors?.['required']" class="invalid-feedback">
                    Please provide a date of birth.
            </div>
            <div *ngIf="userUnder18" class="invalid-feedback">
                    A minimum age of 18 is required to create an account.
            </div>
        </div>

        <div class="form-group mt-3">
            <label>Gender</label>

            <div class="form-check">                
                <input class="form-check-input" type="radio" name="gender-male" id="gender-male" value="male" required
                    pattern="^[a-zA-Z1-9].*"
                    #maleGender="ngModel"
                    [(ngModel)]="user.gender"
                    [ngClass]="
                        maleGender.errors &&
                        badRegisterAttempted ?
                        'form-check-input is-invalid' : 'form-check-input'
                    ">

                <label class="form-check-label" for="gender-male">
                    Male
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender-female" id="gender-female" value="female" required
                    #femaleGender="ngModel"
                    [(ngModel)]="user.gender"
                    [ngClass]="
                        femaleGender.errors &&
                        badRegisterAttempted ?
                        'form-check-input is-invalid' : 'form-check-input'
                    ">

                <label class="form-check-label" for="gender-female">
                    Female
                </label>
            </div>
        </div>

        <!-- 1st btn is a fake btn that won't log in, but will display errors -->
        <!-- 2nd btn is the real one the shows when form is valid -->
        <!-- In the initial view, error messages won't show so the user won't be bugged -->
        <div *ngIf="
            firstName.invalid ||
            lastName.invalid ||
            email.invalid ||
            address.invalid ||
            contactNumber.invalid ||
            password.invalid ||
            dob.invalid;
            else realRegister
            ">
            <button type="button" class="btn btn-primary mt-3" (click)="fakeRegister()">Register</button>
        </div>
        
        <ng-template #realRegister>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </ng-template>
    </form>

</div>

        <!-- Delete user extra function hidden -->
        <!-- <div class="col">
            <h1 class="mt-5">Delete User</h1>

                <form (ngSubmit)="submitDelete()">
                    <div class="form-group mt-5">
                        <label for="email-for-delete">Email</label>
                        <input type="email" class="form-control" name="email-for-delete" placeholder="Email" [(ngModel)]="emailForDelete">
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Delete User</button>
                </form>
        </div> -->
