<div class="register">
    <div class="side-image"></div>      

    <form class="mb-5" (ngSubmit)="submitRegister()" style="width: 30%;">
        <h1 class="mt-5 mb-5">Register</h1>

        <!-- Alert messages -->
        <p *ngIf="errorMsg && !successMsg" class="alert alert-danger mb-0" role="alert">
            {{ errorMsg }}
        </p>
        <p *ngIf="successMsg && !errorMsg" class="alert alert-success mb-0" role="alert">
            {{ successMsg }}
        </p>
        <!-- End alert messages -->

        <div class="form-group mt-3">
            <label for="first-name">First Name</label>
            <input name="first-name" id="first-name"  type="text" placeholder="First Name" required
                #firstName="ngModel"
                [(ngModel)]="user.first_name"
                [ngClass]="
                    firstName.errors &&
                    badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a first name.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="last-name">last Name</label>
            <input name="last-name" id="last-name" type="text"  placeholder="Last Name" required
                #lastName="ngModel"
                [(ngModel)]="user.last_name"
                [ngClass]="
                    lastName.errors &&
                    badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a last name.
            </div>
        </div>


        <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input
                name="email" id="email" type="email" placeholder="Email Address" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                #email="ngModel"
                [(ngModel)]="user.email"
                [ngClass]="
                    email.errors &&
                    badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a valid email.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="address">Address</label>
            <input name="address" id="address" type="text" placeholder="Address" required
                #address="ngModel"
                [(ngModel)]="user.address"
                [ngClass]="
                    address.errors &&
                    badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a valid address.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="contact-number">Contact Number</label>
            <input name="contact-number" id="contact-number" type="number" placeholder="Contact Number" required
                #contactNumber="ngModel"
                [(ngModel)]="user.contact_number"
                [ngClass]="
                    contactNumber.errors &&
                    badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a valid contact number.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" placeholder="Password" required
                #password="ngModel"
                [(ngModel)]="user.password"  
                [ngClass]="
                    password.errors &&
                    badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a valid password.
            </div>
        </div>
        
        <div class="form-group mt-3">
            <label for="dob">Date of Birth</label>
            <input name="dob" id="dob" type="date" required
                #dob="ngModel"
                [(ngModel)]="user.dob"
                [ngClass]="
                    dob.errors &&
                    badRegisterAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a valid date of birth.
            </div>
        </div>

        <div class="form-group mt-3">
            <label>Gender</label>

            <div class="form-check">                
                <input class="form-check-input" type="radio" name="gender-male" id="gender-male" value="male" required
                    #maleGender="ngModel"
                    [(ngModel)]="user.gender"
                    [ngClass]="
                        maleGender.errors &&
                        badRegisterAttempted ?
                        'form-check-input is-invalid' : 'form-check-input'
                    ">

                <label class="form-check-label" for="gender-male">
                    Male
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender-female" id="gender-female" value="female" required
                    #femaleGender="ngModel"
                    [(ngModel)]="user.gender"
                    [ngClass]="
                        femaleGender.errors &&
                        badRegisterAttempted ?
                        'form-check-input is-invalid' : 'form-check-input'
                    ">

                <label class="form-check-label" for="gender-female">
                    Female
                </label>
            </div>
        </div>

        <!-- 1st btn is a fake btn that won't log in, but will display errors -->
        <!-- 2nd btn is the real one the shows when form is valid -->
        <!-- In the initial view, error messages won't show so the user won't be bugged -->
        <div *ngIf="
            firstName.invalid ||
            lastName.invalid ||
            email.invalid ||
            address.invalid ||
            contactNumber.invalid ||
            password.invalid ||
            dob.invalid;
            else realRegister
            ">
            <button type="button" class="btn btn-primary mt-3" (click)="fakeRegister()">Register</button>
        </div>
        
        <ng-template #realRegister>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </ng-template>
    </form>

</div>

        <!-- Delete user extra function hidden -->
        <!-- <div class="col">
            <h1 class="mt-5">Delete User</h1>

                <form (ngSubmit)="submitDelete()">
                    <div class="form-group mt-5">
                        <label for="email-for-delete">Email</label>
                        <input type="email" class="form-control" name="email-for-delete" placeholder="Email" [(ngModel)]="emailForDelete">
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Delete User</button>
                </form>
        </div> -->
