<div class="container">
    <!-- Welcome message to the Doctor -->
    <div class="row">
        <h1 class="text-center m-3 p-3 border-bottom">Welcome back Dr. {{lastName}}</h1>
    </div>

    <!-- Display of appointment schedule for the day -->
    <div class="row mx-auto p-3">
        <h4 class="mb-3">Appointments for today</h4>

        <!-- Displays the list of timeslots for today -->
        <div class="col">
            <div class="list-group" id="list-tab" role="tablist">
                <a (click)="displayPatientInfo(1)" class="list-group-item list-group-item-action" [ngClass]="isBooked(1) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-1" data-bs-toggle="list" href="#slot-1-patient" role="tab" aria-controls="slot-1-patient">8 AM - 9 AM</a>
                <a (click)="displayPatientInfo(2)" class="list-group-item list-group-item-action" [ngClass]="isBooked(2) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-2" data-bs-toggle="list" href="#slot-2-patient" role="tab" aria-controls="slot-2-patient">9 AM - 10 AM</a>
                <a (click)="displayPatientInfo(3)" class="list-group-item list-group-item-action" [ngClass]="isBooked(3) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-3" data-bs-toggle="list" href="#slot-3-patient" role="tab" aria-controls="slot-3-patient">10 AM - 11 AM</a>
                <a (click)="displayPatientInfo(4)" class="list-group-item list-group-item-action" [ngClass]="isBooked(4) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-4" data-bs-toggle="list" href="#slot-4-patient" role="tab" aria-controls="slot-4-patient">11 AM - 12 PM</a>
                <a class="list-group-item disabled text-center" aria-disabled="true">LUNCH</a>
                <a (click)="displayPatientInfo(5)" class="list-group-item list-group-item-action" [ngClass]="isBooked(5) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-5" data-bs-toggle="list" href="#slot-5-patient" role="tab" aria-controls="slot-5-patient">1 PM - 2 PM</a>
                <a (click)="displayPatientInfo(6)" class="list-group-item list-group-item-action" [ngClass]="isBooked(6) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-6" data-bs-toggle="list" href="#slot-6-patient" role="tab" aria-controls="slot-6-patient">2 PM - 3 PM</a>
                <a (click)="displayPatientInfo(7)" class="list-group-item list-group-item-action" [ngClass]="isBooked(7) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-7" data-bs-toggle="list" href="#slot-7-patient" role="tab" aria-controls="slot-7-patient">3 PM - 4 PM</a>
                <a (click)="displayPatientInfo(8)" class="list-group-item list-group-item-action" [ngClass]="isBooked(8) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-8" data-bs-toggle="list" href="#slot-8-patient" role="tab" aria-controls="slot-8-patient">4 PM - 5 PM</a>
                <a class="list-group-item disabled text-center" aria-disabled="true">DINNER</a>
                <a (click)="displayPatientInfo(9)" class="list-group-item list-group-item-action" [ngClass]="isBooked(9) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-9" data-bs-toggle="list" href="#slot-9-patient" role="tab" aria-controls="slot-9-patient">6 PM - 7PM</a>
                <a (click)="displayPatientInfo(10)" class="list-group-item list-group-item-action" [ngClass]="isBooked(10) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-10" data-bs-toggle="list" href="#slot-10-patient" role="tab" aria-controls="slot-10-patient">7 PM - 8 PM</a>
                <a (click)="displayPatientInfo(11)" class="list-group-item list-group-item-action" [ngClass]="isBooked(11) == 'true' ? 'bg-secondary' : 'disabled' " id="slot-11" data-bs-toggle="list" href="#slot-11-patient" role="tab" aria-controls="slot-11-patient">8 PM - 9 PM</a>
            </div>
        </div>

        <!-- Displays the patient's info -->
        <div class="col">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show" id="slot-1-patient" role="tabpanel" aria-labelledby="slot-1">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">8 AM - 9 AM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-2-patient" role="tabpanel" aria-labelledby="slot-2">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">9 AM - 10 AM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-3-patient" role="tabpanel" aria-labelledby="slot-3">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">10 AM - 11 AM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-4-patient" role="tabpanel" aria-labelledby="slot-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">11 AM - 12 PM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-5-patient" role="tabpanel" aria-labelledby="slot-5">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">1 PM - 2 PM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-6-patient" role="tabpanel" aria-labelledby="slot-6">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">2 PM - 3 PM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-7-patient" role="tabpanel" aria-labelledby="slot-7">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">3 PM - 4 PM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-8-patient" role="tabpanel" aria-labelledby="slot-8">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">4 PM - 5 PM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-9-patient" role="tabpanel" aria-labelledby="slot-9">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">6 PM - 7 PM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-10-patient" role="tabpanel" aria-labelledby="slot-10">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">7 PM - 8 PM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="slot-11-patient" role="tabpanel" aria-labelledby="slot-11">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">8 PM - 9 PM</h5>
                          <p class="card-text">Diagnosis: {{diagnosis}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">First Name: {{patientFirstName}}</li>
                          <li class="list-group-item">Last Name: {{patientLastName}}</li>
                          <li class="list-group-item">DOB: {{dob.split('T')[0]}}</li>
                          <li class="list-group-item">Address: {{patientAddress}}</li>
                          <li class="list-group-item">Contact: {{contact}}</li>
                          <li class="list-group-item">Email: {{email}}</li>
                        </ul>
                        <div class="card-body">
                          <div class="row">
                            <div id="addDiagnosis" role="tablist">
                              <button class="btn btn-primary" id="add-diagnosis-tab" data-bs-toggle="tab" data-bs-target="#add-diagnosis" type="button" role="tab" aria-controls="add-diagnosis" aria-selected="false">Add Diagnosis</button>
                              <button type="button" class="btn btn-primary float-end" (click)="showOverlay()">View Patient's History</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Displays the diagnosis form -->
        <div class="col">
          <div class="tab-content">
            <div class="tab-pane fade" id="add-diagnosis" role="tabpanel" aria-labelledby="add-diagnosis-tab">
              <form>
                <div class="form-group">
                  <label for="docDiagnosis">Doctor's Diagnosis</label>
                  <textarea class="form-control" id="docDiagnosis" rows="4" name="diagnosis" [(ngModel)]="diagnosis"></textarea>
                </div>
                <div class="form-group">
                  <label for="docDiagnosis">Prescription</label>
                  <textarea class="form-control" id="docPrescription" rows="4" name="prescription" [(ngModel)]="prescription"></textarea>
                </div>
                <div class="mt-2">
                  <button type="submit" class="btn btn-primary" (click)="addDiagnosis()">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    
    <!-- Hidden overlay for viewing patient history -->
    <div id="patient-history-overlay" class="p-5 overlay" [hidden]="hideHistory">
      <div class="container">
          <div class="row">
              <div class="col">
                  <button type="button" class="btn btn-primary closebtn float-end" (click)="hideOverlay()">Close</button>
              </div>
          </div>
          <div class="row">
              <app-patient-history [selectedPatient]="selectedPatient"></app-patient-history>
          </div>
      </div>
  </div>
</div>

