<div class="container">
    <!-- Welcome message to the Doctor -->
    <div class="row">
        <h1 class="text-center m-3 p-3 border-bottom">Welcome back Dr.{{lastName}}</h1>
    </div>

    <!-- Display of appointment schedule for the day -->
    <div class="row mx-auto p-3">
        <h4 class="mb-3">Appointments for today</h4>
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="slot-1" data-bs-toggle="list" href="#slot-1-patient" role="tab" aria-controls="slot-1-patient">1. 8 - 9 AM</a>
                <a class="list-group-item list-group-item-action" id="slot-2" data-bs-toggle="list" href="#slot-2-patient" role="tab" aria-controls="slot-2-patient">2. 9 - 10 AM</a>
                <a class="list-group-item list-group-item-action" id="slot-3" data-bs-toggle="list" href="#slot-3-patient" role="tab" aria-controls="slot-3-patient">3. 10 - 11 AM</a>
                <a class="list-group-item list-group-item-action" id="slot-4" data-bs-toggle="list" href="#slot-4-patient" role="tab" aria-controls="slot-4-patient">4. 11 - 12 PM</a>
                <a class="list-group-item disabled text-center" aria-disabled="true">LUNCH</a>
                <a class="list-group-item list-group-item-action" id="slot-5" data-bs-toggle="list" href="#slot-5-patient" role="tab" aria-controls="slot-5-patient">5. 1 - 2 PM</a>
                <a class="list-group-item list-group-item-action" id="slot-6" data-bs-toggle="list" href="#slot-6-patient" role="tab" aria-controls="slot-6-patient">6. 2 - 3 PM</a>
                <a class="list-group-item list-group-item-action" id="slot-7" data-bs-toggle="list" href="#slot-7-patient" role="tab" aria-controls="slot-7-patient">7. 3 - 4 PM</a>
                <a class="list-group-item list-group-item-action" id="slot-8" data-bs-toggle="list" href="#slot-8-patient" role="tab" aria-controls="slot-8-patient">8. 4 - 5 PM</a>
                <a class="list-group-item list-group-item-action" id="slot-9" data-bs-toggle="list" href="#slot-9-patient" role="tab" aria-controls="slot-9-patient">9. 5 - 6 PM</a>
                <a class="list-group-item list-group-item-action" id="slot-10" data-bs-toggle="list" href="#slot-10-patient" role="tab" aria-controls="slot-10-patient">10. 6 - 7 PM</a>
                <a class="list-group-item list-group-item-action" id="slot-11" data-bs-toggle="list" href="#slot-11-patient" role="tab" aria-controls="slot-11-patient">11. 7 - 8 PM</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="slot-1-patient" role="tabpanel" aria-labelledby="slot-1">bla bla bla to show patients stuff blabla</div>
                <div class="tab-pane fade" id="slot-2-patient" role="tabpanel" aria-labelledby="slot-2">blablabla info aboout patient 2</div>
                <div class="tab-pane fade" id="slot-3-patient" role="tabpanel" aria-labelledby="slot-3">blablabla info aboout patient 3</div>
                <div class="tab-pane fade" id="slot-4-patient" role="tabpanel" aria-labelledby="slot-4">blablabla info aboout patient 4</div>
                <div class="tab-pane fade" id="slot-5-patient" role="tabpanel" aria-labelledby="slot-5">blablabla info aboout patient 5</div>
                <div class="tab-pane fade" id="slot-6-patient" role="tabpanel" aria-labelledby="slot-6">blablabla info aboout patient 6</div>
                <div class="tab-pane fade" id="slot-7-patient" role="tabpanel" aria-labelledby="slot-7">blablabla info aboout patient 7</div>
                <div class="tab-pane fade" id="slot-8-patient" role="tabpanel" aria-labelledby="slot-8">blablabla info aboout patient 8</div>
                <div class="tab-pane fade" id="slot-9-patient" role="tabpanel" aria-labelledby="slot-9">blablabla info aboout patient 9</div>
                <div class="tab-pane fade" id="slot-10-patient" role="tabpanel" aria-labelledby="slot-10">blablabla info aboout patient 10</div>
                <div class="tab-pane fade" id="slot-11-patient" role="tabpanel" aria-labelledby="slot-11">blablabla info aboout patient 11</div>
            </div>
        </div>
    </div>
</div>

