<!-- Navbar -->
<!-- Banner -->
<div class="banner">
    <div class="banner-info">
        <h1>Welcome to Nice Clinic</h1>
        <br>
        <p>Book an appointment with us today</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Book an appointment</a>
    </div>
</div>
<!-- Body -->
<div class="container">
    <div class="row mt-3">
        <h2 class="text-center">Why Choose Us?</h2>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1478476868527-002ae3f3e159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">40+ year-old trusted brand with more than 80 clinics and a hospital in Singapore</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1551601651-2a8555f1a136?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=847&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Leading integrated private healthcare provider in Asia, serving patients in 5 countries covering 14 cities</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1624727828489-a1e03b79bba8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Continuum of care spanning primary to tertiary care</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1666214275099-0ca566aefe26?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Patient-centric care driven by innovation, technology and service excellence</p>
            </div>
        </div>
    </div>
</div>
