<div class="container">
    <div class="row">
        <h1>These are all your appointments</h1>
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Appointment Date</th>
                    <th>Patient ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Diagnosis</th>
                    <th>Prescription</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appt of appts">
                    <td>{{appt.appt_id}}</td>
                    <td>{{ appt.date_visited.split('T')[0] }}</td>
                    <td>{{appt.patient_id}}</td>
                    <td>{{appt.patient.first_name}}</td>
                    <td>{{appt.patient.last_name}}</td>
                    <td>{{appt.diagnosis}}</td>
                    <td>{{appt.prescription}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script> -->
