<div class="container details">
    <h1 class="text-center m-5">Make an Appointment</h1>

    <div class="mb-3">
        <textarea class="form-control" id="description" rows="5" placeholder="What would you like to see the doctor for?" required
            #textarea="ngModel"
            [(ngModel)]="description"
            [ngClass]="
                (textarea.errors && textarea.touched) || 
                (textarea.errors && datepicker.dirty) ? 'form-control is-invalid' : 'form-control'">
        </textarea>
        <div *ngIf="textarea.errors?.['required']" class="invalid-feedback">
                Please provide the details for your visit.
        </div>
    </div>

    <!-- <div class="row mt-3 p-3"> -->
        <!-- <div class="col text-center"> -->
            <h4 class="text-center p-2 mt-5" for="date">Select a date and time</h4>
        <!-- </div> -->
    <!-- </div> -->

    <div class="row p-3 text-center">
        <div class="col">
            <input name="date" id="date" type="date" class="p-3" [(ngModel)]="selectedDate" [max]="max" [min]="min" onkeydown="return false" (change)="enforceBoundsAndCheckForError(); updateApptTimeslots()" #datepicker="ngModel">
        </div>
    </div> 

    <div class="fadeInDown" *ngIf="selectedDate >= min && selectedDate <= max">
        <div class="row">
            <table class="table table-striped mb-3">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%"></th>
                        <th scope="col" style="width: 30%">Timeslot</th>
                        <th scope="col" style="width: 65%">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                    *ngFor="let appt of appts" 
                    [ngClass]="
                        appt[2] == 'disabled-by-conflict' ? 'table-info' : 
                        appt[2] == 'disabled' ? 'table-secondary' : ''
                    ">
                        <td><input class="form-check-input" name="time-slots" type="radio" value="{{appt}}" [(ngModel)]="selectedAppt" [disabled]="appt[2] == 'disabled' || appt[2] == 'disabled-by-conflict'" (change) = "this.selectedDr = ''; updateDrAvailibility()"></td>
                        <td [ngClass]="appt[2] == '' ? '' : 'text-black-50'">{{ appt[0] }}</td>
                        <td [ngClass]="appt[2] == '' ? '' : 'text-black-50'">
                            {{ appt[1] }}
                            <span class="float-end" *ngIf="appt[2] == 'disabled-by-conflict'">You already have an appointment!</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div div class="row fadeInDown" *ngIf="selectedAppt">
            <table class="table table-striped mb-3">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%"></th>
                        <th scope="col">Doctor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctors">
                        <td><input class="form-check-input" name="doctors" type="radio" value="{{ doctor[0] + ':' + doctor[1] }}" [(ngModel)]="selectedDr" [disabled]="doctor[2] == 'disabled'"></td>
                        <td [ngClass]="doctor[2] == 'disabled' ? 'text-black-50' : ''"><span class="text-capitalize">Dr. {{ doctor[1] }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Disabled button if description is blank -->
        <div class="row text-center fadeInDown" *ngIf="selectedDr && textarea.invalid">
            <div class="col">
                <button class="btn btn-secondary" disabled>Submit</button>
            </div>
        </div>
        <!-- Warning message -->
        <div class="row text-center mt-3 fadeInDown" *ngIf="selectedDr && textarea.invalid">
            <div class="col alert alert-danger">
                Please provide the details for your visit in the text box above.
            </div>
        </div>
        
        <!-- Real button -->
        <div class="row text-center fadeInDown" *ngIf="selectedDr && !textarea.invalid">
            <div class="col">
                <button class="btn btn-primary" (click)="makeAppt()">Submit</button>
            </div>
        </div>
    </div>
</div>