<div class="login">
    <div class="side-image"></div>
    
    <form (ngSubmit)="submitLogin()" style="width: 30%;">
        <h1 class="mt-5 mb-5">Login</h1> 

        <!-- Alert messages -->
        <p *ngIf="errorMsg" class="alert alert-danger mb-0" role="alert">
            {{ errorMsg }}
        </p>
        <p *ngIf="userCreatedMsg && !errorMsg" class="alert alert-success mb-0" role="alert">
            {{ userCreatedMsg }}
        </p>
        <!-- End alert messages -->
        
        <!-- Email Input -->
        <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"
                #email="ngModel"
                [(ngModel)]="user.email"
                [ngClass]="
                    email.errors &&
                    badLoginAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a valid email address.
            </div>
        </div>

        <!-- Password Input -->
        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" placeholder="Password" required
                #password="ngModel"
                [(ngModel)]="user.password"  
                [ngClass]="
                    password.errors &&
                    badLoginAttempted ?
                    'form-control is-invalid' : 'form-control'
                ">
                
            <div class="invalid-feedback">
                    Please provide a password.
            </div>
        </div>

        <!-- 1st btn is a fake btn that won't log in, but will display errors -->
        <!-- 2nd btn is the real one the shows when form is valid -->
        <!-- In the initial view, error messages won't show so the user won't be bugged -->
        <button *ngIf="!email.valid || !password.valid" type="button" class="btn btn-primary mt-3" (click)="fakeLogin()">Log In</button>
        <button *ngIf="email.valid && password.valid" type="submit" class="btn btn-primary mt-3">Log In</button>
    </form>
</div>