<div class="container" style="height:100vh">
    <div class="row m-3">
        <h1 class="text-center">All Patients</h1>
        
        <p *ngIf="patientsErrorMsg" class="alert alert-danger mb-0" role="alert">{{ patientsErrorMsg }}</p>

        <table id="example" #dTable class="table table-striped mt-3" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>DOB</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients">
                    <td>{{ patient.user_id }}</td>
                    <td><span class="text-capitalize">{{ patient.first_name + ' ' + patient.last_name }}</span></td>
                    <td>{{ patient.email }}</td>
                    <td>{{ patient.address }}</td>
                    <td>{{ patient.contact_number }}</td>
                    <td>{{ patient.dob.split('T')[0] }}</td>
                    <td>{{ patient.gender }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
